html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, a{
  color: #fff;
  font-family:sans-serif;
  margin: 0;
  padding: 0;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75%;
  background-color: #fff;
  -webkit-transform: translatey(200%);
  -ms-transform: translatey(200%); 
  -o-transform: translatey(200%);
  transform: translatey(200%);
  transition: -webkit-transform 0.8s;
}

#palo {
  margin-top:150px;
  width: 100%;
  height: 270px;
  overflow-y: scroll;
}

.visibile{
  -webkit-transform: translatey(0%);
  -ms-transform: translatey(0%);
  -o-transform: translatey(0%);
  transform: translatey(0%);
}

.img-vr{
  width: 100%;
  height: auto;
  position: inherit;
  margin-top:0px;
}

.subfooter{
  position: fixed;
  width: 100%;
  height: 150px;
  background-color: #5A82F5;
  top: 0;
}

.subfooter img{
  width: 100px;
  height: auto;
  position: absolute;
  top: -50px;
}

.info{
  text-align: center;
  position: relative;
  top: 35px;
}

.controls {
  margin-top: 20px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#author{
  border-radius: 25px;
  margin-top: 15px;
  margin-right: 12px;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-top: 10px;
  margin-left: 12px;
  margin-right: 20px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 73%;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#geoloc {
  margin-right:20px;
  margin-bottom:20px;
}

#addImg {
  margin-right:20px;
  margin-bottom:20px;
}

#menu_btn {
  margin-right:20px;
  margin-bottom:20px;
}

.modalDialog {
  position: fixed;
  font-family: sans-serif;
  opacity:0;
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 340px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #000000;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.gm-style-cc { display:none; }


